[submodule "agilexrobotics"]
	path = agilexrobotics
	url = git@github.com:KnightOrNot/agilexrobotics.git
[submodule "gello-software"]
	path = gello-software
	url = git@github.com:KnightOrNot/gello-software.git
[submodule "lerobot-converter"]
	path = lerobot-converter
	url = git@github.com:KnightOrNot/lerobot-converter.git
