[submodule "agilexrobotics"]
	path = agilexrobotics
	url = https://github.com/right-or-not/agilexrobotics.git
[submodule "gello_software"]
	path = gello_software
	url = https://github.com/right-or-not/gello_software.git
[submodule "lerobot_converter"]
	path = lerobot_converter
	url = https://github.com/right-or-not/lerobot_converter.git
